form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.LabelRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
}

label {
  padding-right: 20px;
}

input[type=text] {
width: 320px;
}

input[type=text], input[type=number] {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}